@media screen and (max-width: 1100px){
	.left-area{
		width: 100%;
		float: none;
	}
	.left-area img{
		width: 60%;
	}
	.right-area{
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 800px){
	.container{
		width: 90%;
	}
	.logo-area{
		width: 100%;
		float: none;
	}
	.logo-area img{
		width: 180px;
		margin:20px auto;
		display:block;
	}
	.login-area{
		width: 100%;
	}
	.login-area form{
		float: none;
		width: 390px;
		margin: auto;
	}
}
@media screen and (max-width: 480px){
	.user-area,
	.pass-area,
	.login-btn{
		float: none;
	}
	.user-area input,
	.pass-area input{
		width: 100%;
	}
	.pass-area{
		margin-top: 10px;
	}
	.login-area form{
		width: 100%;
	}
	.left-area h3{
		width: 100%;
	}
	.left-area img{
		width: 100%;
	}
	.middle-area ul{
		width: 100%;
	}
}